<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADDCyE08CrUCnALlH2wtsnaU95Jjr9n3E</string>
	<key>GCM_SENDER_ID</key>
	<string>801793778820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indecode.LadybugPokerr</string>
	<key>PROJECT_ID</key>
	<string>ladybugpoker-ba95d</string>
	<key>STORAGE_BUCKET</key>
	<string>ladybugpoker-ba95d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801793778820:ios:f95e5c17638791937f4ed1</string>
</dict>
</plist>